<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>我要跳槽啦</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    <link rel="stylesheet" href="static/css/crawler/joblist.css">
</head>
<body ng-controller="crawlerController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小弋的主页</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="#">小练习</a></li>
                <li><a href="#">AngularJS从懵逼到入门</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">前端学习<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">AngularJS</a></li>
                        <li><a href="#">CommonJS/AMD/CMD</a></li>
                        <li><a href="#">NodeJS</a></li>
                        <li class='divider'></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS进阶</a></li>

                    </ul>
                </li>
                <li><a href="#">关于小弋</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="main col-md-10 col-sm-10 col-lg-9 col-md-offset-1 col-lg-offset-1">
    <div class="search-wrapper">
        <div id="searchBar" class="search-bar">
            <div class="input-wrapper">
                <input type="text" id="keyword"  maxlength="16" placeholder="搜索职位、公司或地点" value=""
                        ng-keyup="keyup()">
                <input type="button" id="submit" value="搜索" ng-click="getJobs(1)">
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="city" class="col-sm-2 col-md-2 col-lg-1 control-label">城市：</label>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <select class="form-control" name="city" id="city">
                            <option value="">不限</option>
                            <% for(var i = 0 ; i < citys.length ; i++){ %>
                            <option value="<%= citys[i] %>"><%= citys[i] %></option>
                            <% } %>
                        </select>
                    </div>
                    <label for="yx" class="col-sm-2 col-md-2 col-lg-1 control-label">月薪：</label>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <select class="form-control" name="yx" id="yx">
                            <option value="">不限</option>
                            <% for(var i = 0 ; i < salary.length ; i++){ %>
                            <option value="<%= salary[i] %>"><%= salary[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="joblist" class="joblist">
        <ul>
            <li ng-repeat="job in jobs">
                <div class="top clearfix">
                    <div class="position ">
                        <div class="t clearfix">
                            <h4>
                                {{job.positionName}}
                                <span>[{{job.district||job.city}}]</span>
                                <span>{{job.createTime|limitTo:10}}</span>
                            </h4>

                        </div>
                        <div class="b clearfix">
                            <h4 class="money">
                                {{job.salary}}
                                <span>经验{{job.workYear}} / {{job.education}}</span>
                            </h4>
                        </div>
                    </div>
                    <div class="logo col-md-1 col-lg-1">
                        <h4>
                            <img ng-src="http://www.lgstatic.com/thumbnail_120x120/{{job.companyLogo}}">

                        </h4>
                    </div>
                    <div class="company col-md-5 col-lg-4">
                        <div class="t clearfix">
                           <h4> {{job.companyShortName}}</h4>
                        </div>
                        <dib class="b clearfix">
                            <span>{{job.industryField}} / {{job.financeStage}}</span>
                        </dib>
                    </div>
                </div>
                <div class="bottom clearfix">
                    <div class="left">
                        <span>"{{job.positionAdvantage}}"</span>
                    </div>
                    <div class="right col-md-6 col-lg-5">
                        <span ng-repeat="item in job.companyLabelList">
                            {{item}}
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- 数据为空 template -->
<script id="empty-position" type="text/html">
    <div class="empty_position">
        <div class="pic"></div>
        <div class="txt">
            <div>暂时没有符合该搜索条件的职位</div>
            <span>请重新修改搜索条件后再进行搜索</span>
        </div>
    </div>
</script>
<script src="/static/scripts/angular.min.js"></script>
<script src="/static/scripts/crawler/app.js"></script>
</body>
</html>